/* animation */
@keyframes showHide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

/* max width 1200px */
@media only screen and (max-width: 1200px) {
    html {
        font-size: 59%;
    }
    /* side bar */
    
}

/* max width 1024px */
@media only screen and (max-width: 1024px) {
    html {
        font-size: 50%;
    }
}

/* max width 980px */
@media only screen and (max-width: 980px) {
    html {
        font-size: 48%;
    }
}

/* max width 768px */
@media only screen and (max-width: 768px) {
    .main-survices-box .projects-box {
        margin: .5rem auto;
    }
}

/* max width 480px */
@media only screen and (max-width: 480px) {
    html {
        font-size: 45%;
    }

    .search-box form {
        width: 23rem;
    }

    .logo-box .logo {
        width: 3rem;
    }

    .logo-box::after {
        font-size: 1.8rem;
    }

    .top-nav-bar .search-box {
        margin-left: 1rem;
    }

    .top-nav-bar .menu-icon-box button .menu-icon {
        margin: 1rem ;
    }
}